/************************************************

Stylesheet: Global Stylesheet

*************************************************/

/*********************
CUSTOM STYLES
*********************/

/**
** Iconography
**/

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?8x397y');
  src:  url('../fonts/icomoon.eot?8x397y#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?8x397y') format('truetype'),
    url('../fonts/icomoon.woff?8x397y') format('woff'),
    url('../fonts/icomoon.svg?8x397y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gavel:before {
  content: "\e90e";
}
.icon-twitter:before {
  content: "\e90c";
}
.icon-facebook:before {
  content: "\e90d";
}
.icon-facebook-f:before {
  content: "\e90d";
}
.icon-bolt:before {
  content: "\e908";
}
.icon-flash:before {
  content: "\e908";
}
.icon-map-marker:before {
  content: "\e909";
}
.icon-envelope:before {
  content: "\e90a";
}
.icon-phone:before {
  content: "\e90b";
}
.icon-heart:before {
  content: "\e907";
}
.icon-wordpress:before {
  content: "\e900";
}
.icon-rocket:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-twitter-square:before {
  content: "\e904";
}
.icon-facebook-square:before {
  content: "\e905";
}
.icon-code:before {
  content: "\e906";
}


/*********************
CUSTOM ELEMENTS
*********************/

/**
** Icon Box
**/

.ico-box-items {
  .ico-box {
    .ico-box-icon {
      > * {
        font-size: 4rem;
        color: #c4481c;
      }
      &:after {
    content: '';
    display: block;
    height: 4px;
    width: 30px;
    background: #7f7f7f;
    margin: 1.8rem auto 1rem;
}
    }
  }
}

.btn-wrap {
    display:  flex;
    align-items:  center;
    justify-content: flex-end;
    margin-top: 2rem;
}

.button {
    border-radius:  .4rem;
    background-color:  #B62E2B;
    color: #fff;
    font-weight:  bold;
    font-size: 1rem;
    &:hover {
      background-color:  #a24a48;

    }
}

.learn-more {
  .button {
    background-color: #fff;
    color: #B62E2B;
  }
}

.services-box {
    margin-top:  2rem;
}

.service-box {
    text-align: center;
    background: #ccc;
    padding: 5rem 2rem;
    border-radius: .5rem
}

.section-title {
  &:after {
      content: '';
      display: block;
      height: 4px;
      width: 70px;
      background: #000;
      opacity: .5;
      margin-bottom: 2rem;
  }
}

.service-content {
    position: relative;
    &:after {
    content: '';
    display: block;
    width: 70px;
    height: 5px;
    background-color: #fff;
    opacity: .5;
    position: absolute;
    right: -9rem;
    transform: rotate(-60deg);
    top: 1.5rem;
}


}

.service-img {
    margin-top: 2rem;
}

.social-links {
  margin-top: -.5rem;
  li {
      list-style: none;
      display: inline-block;
      margin-right: .7rem;
      font-size: 2rem
  }
}

.side-slides {
    font-size: 5rem;
    width: 400px;
    height: 400px;
    margin:  0 auto;
    text-align:  center;
    background:  #fff;
    color: #B62E2B;
    border-radius: 60rem;
    display:  flex;
    align-items:  center;
    justify-content:  center;
}

/**
** Header Styles
**/

.site-header {
	background-color: #fff;
	.top-bar {
		background-color: #fff;
    margin-left:  -1.5rem;
    margin-right: -1.5rem;
		ul {
			background-color: #fff;
		}
	}
  .header-search {
    border-bottom: 1px solid #e0e0e0;
    .input-group {
        margin-bottom:  0;
        [type=search] {
          margin-bottom: 0;
          border: none;
          box-shadow: none;
          padding-top: 1rem;
          padding-bottom: 1rem;
      }
    }

  }
}

/*********************
HOMEPAGE
*********************/

/**
** Main Section
**/

#main {
    background-color: #c4481c;
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 5rem;
    color: #fff;
		.side-img {
			@include breakpoint(large) {
				margin-bottom: -15rem;
        position: relative;
        top: 5rem;
			}
		}
    .section-title {
      &:after {
        background-color: #fff;
      }
    }
}

/**
** Made with <3
**/

#made-with-love{
	padding: 5rem;
  .section-info {
    margin-bottom: 5rem;
  }
}

/**
** Service
**/

#service {
  background-color: #BD3C25;
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 5rem;
  color: #fff;
  .section-title {
    &:after {
      background-color: #fff;
    }
  }
}



/**
** Footer
**/

.footer {
  .copyright {
    background-color:  #000;
    color:  #fff;
    font-size:  12px;
    padding-top: .5rem;
}
#menu-subfooter {
  > li {
    > a {
      color: #fff;
    }
  }
}
}

/*********************
ABOUT
*********************/

/**
** Team Intro
**/

#team-intro {
    background-color: #191919;
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 5rem;
    color: #fff;
		.side-img {
			@include breakpoint(large) {
				margin-bottom: -15rem;
        position: relative;
        top: 5rem;
			}
		}
    .section-title {
      &:after {
        background-color: #fff;
      }
    }
}

/**
** Team Members
**/

#team-members {
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 5rem;
		.side-img {
			@include breakpoint(large) {
				margin-bottom: -15rem;
        position: relative;
        top: 5rem;
			}
		}
    .section-title {
      &:after {
        background-color: #fff;
      }
    }
}

/*********************
BLOG
*********************/

/**
** Articles
**/

#articles {
  padding: 5rem;
  .hentry {
    margin-bottom: 2rem;
  }
  .hentry:last-child {
    margin-bottom: 0;
  }
}

/*********************
SINGLE POST
*********************/

/**
** Article
**/

.single .hentry {
    max-width: 960px;
    font-size: 18px;
}

.single .hentry  .wp-caption {
    margin: 2rem 0;
}

.single .hentry  img {
    margin: 2rem 0;
}

.single .hentry .wp-caption img {
    margin: 0;
}

.single {
  #main {
    .byline,
    a {
      color: #fff;

    }
    a {
      border-bottom: 1px dashed #fff;
    }
  }
  #articles {
    padding: 0 !important;
  }
  #comments {
      background:  #fff;
      color:  #000;
      padding:  2rem;
      border-radius: 1rem;
      margin-top: 2rem;
  }
}

.single #main #comments a {
    color: #c4481c;
    border-bottom: 1px dashed;
}

.single .hentry #comments img {
    border-radius:  3rem;
}

.wp-caption {
    background: #4a4949;
    font-weight: bold;
}

@media (max-width: 990px) {
    section#made-with-love {
    padding: 2rem 0;
}
}

@media (max-width: 767px) {
    .footer-logo {
    margin-bottom:  1rem;
}

.social-links {
    margin-left:  0;
    margin-bottom:  0;
}

#menu-footer-menu li a {
    padding-left:  0;
}

ul#menu-footer-menu {
    margin-bottom: 1rem;
}
}




/*********************
POSTS & CONTENT STYLES
*********************/
.page-title {

	// Remove Foundation vcard styling from author page titles
	.vcard {
		border: 0px;
		padding: 0px;
	}
}

// Post meta
.byline {
	color: #999;
	time {}
}

// Entry content
.entry-content {

	img {
		max-width: 100%;
		height: auto;
	}

	.alignleft, img.alignleft {
		margin-right: 1.5em;
		display: inline;
		float: left;
	}
	.alignright, img.alignright {
		margin-left: 1.5em;
		display: inline;
		float: right;
	}
	.aligncenter, img.aligncenter {
		margin-right: auto;
		margin-left: auto;
		display: block;
		clear: both;
	}

	video, object {
		max-width: 100%;
		height: auto;
		}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
		}

}

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	// Images inside wp-caption
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}
}

// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
	@include button;
}

/*********************
IMAGE GALLERY STYLES
*********************/
.gallery {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-right: -15px;
	margin-left: -15px;
}
.gallery::before, .gallery::after {
	content: ' ';
	display: table;
}
.gallery::after {
	clear: both;
}
.gallery.gallery-columns-1 > dl {
	@include grid-column;
}
.gallery.gallery-columns-2 > dl {
	@include grid-column(1 of 2);
}
.gallery.gallery-columns-3 > dl {
	@include grid-column(1 of 3);
}
.gallery.gallery-columns-4 > dl {
	@include grid-column(1 of 4);
}
.gallery.gallery-columns-5 > dl {
	@include grid-column(1 of 5);
}
.gallery.gallery-columns-6 > dl {
	@include grid-column(1 of 6);
}
.gallery.gallery-columns-7 > dl {
	@include grid-column(1 of 7);
}
.gallery.gallery-columns-8 > dl {
	@include grid-column(1 of 8);
}
.gallery dl {
	width: 100%;
	float: left;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
}
.gallery dl:last-child:not(:first-child) {
  float: right;
 }

// Gallery caption styles
.gallery-caption {}
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
	margin-top: 1rem;
}

/*********************
COMMENT STYLES
*********************/
#comments {
	.commentlist {
		margin-left: 0px;
	}
}

#respond {
	ul {
		margin-left: 0px;
	}
}

.commentlist {
	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           // Change number for different depth
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		}
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-left: 10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {
	}
	li.depth-4 {}
	li.depth-5 {}

	// General comment classes
	.alt {}
	.odd {
	}
	.even {
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	// vcard
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} // end .commentlist .vcard


	// comment meta
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	// comment content
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} // end .commentlist .comment_content

	// comment reply link
	.comment-reply-link {
		float: right;

		&:hover,
		&:focus {

		}

	} // end .commentlist .comment-reply-link

} // end .commentlist

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			// form validation
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

// comment form title
#comment-form-title {
	margin: 0 0 1.1em;
}

// cancel comment reply link
#cancel-comment-reply {
	a {}
}

// logged in comments
.comments-logged-in-as {}

// allowed tags
#allowed_tags {
	margin: 1.5em 10px 0.7335em 0;
}

// No comments
.nocomments {
	margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
	li{
		list-style: none;
	}
}

.widget {
	ul {
		margin: 0;
	}
}
/*********************
FOOTER STYLES
*********************/
.footer {
	clear: both;
	margin-top: 1em;
}

/*********************
VISUAL EDITOR STYLES
*********************/
// Makes content look better in visual editor
body#tinymce {
   	margin: 20px;
}

/*********************
PLUGIN STYLES
*********************/
// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
    list-style: none outside none;
    margin: 0;
}

@media (max-width: 1023px) {
    .ico-box-items {
    margin-bottom: 3rem;
}

}

@media (max-width: 639px) {
  .hamburger {
    position:  absolute;
    right:  20px;
    top: 20px;
}
.menu-icon:after {
    background: #000000;
    box-shadow: 0 7px 0 #000000, 0 14px 0 #000000;
}
.off-canvas.is-open {
    background: #000000;
}

.is-open .menu a {
    color:  #fff;
}

}

@media (max-width: 767px) {
    section#main {
    padding:  2rem;
    text-align:  center;
}

.section-title:after {
    margin: 2rem auto;
}

.section {
    text-align: center;
}

#service {
    text-align: center;
    padding: 2rem;
}

.btn-wrap {
    justify-content:  center;
}

.service-content {
    margin-bottom: 2rem;
}

.service-content:after {
    displaY: none;
}

section#articles {
    padding:  2rem 0;
}

}
